.Body {
    display: flex;
    flex-direction: row;
    padding: 2.5rem; /* 40px */
    text-align: center;
    background-color: #BFDBF7;
    align-items: center;
    justify-content: space-around;
}

.FrontAd {
    flex: 1 1 0%;
    margin-bottom: 0px;
    margin-right: 2.5rem; /* 40px */
}

.Bigtext {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-weight: 700;
    color: black;
    margin-bottom: 1.25rem; /* 20px */
}

.Littletext {
    margin-top: 1.25rem; /* 20px */
    margin-bottom: 2rem; /* 32px */
    font-size: 1.25rem; /* 20px */
    color: black;
}

.Image {
    width: 75%;
    border-radius: 0.375rem; /* 6px */
    margin: auto;
}

.IconList {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem; /* 32px */
}

.IconStyle {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

    .IconStyle:hover {
        transform: scale(1.1);
    }

.IconDescription {
    margin-top: 1rem; /* 16px */
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    color: black;
}


/*small screen*/
@media only screen and (max-width: 1200px) {
    .Image {
        width: 100%;
    }

    .IconList {
        flex-direction: column;
        margin-top: 0px;
        margin-left: 2rem; /* 32px */
    }

    .IconStyle {
        padding-top: 2rem; /* 8px */
    }

    .IconDescription {
        margin-top: .25rem;
    }
}

/*smaller screen*/
@media only screen and (max-width: 900px) {
    .Body {
        flex-direction: column;
    }

    .FrontAd {
        margin-bottom: 2rem; /* 32px */
        margin-right: 0;
    }

    .IconStyle:hover {
        transform: scale(1.0);
    }
}